.full-width {
    width: 100%
    
}

.half-width {
    width: 50%
}

.esp-top {
    padding-top: 10px;
  }

.esp-right {
    padding-right: 10px;
  }

.esp-bottom {
    padding-bottom: 10px;
  }

.esp-left {
    padding-left: 10px;
}

.example-container{
    width: 100%;
}
  
.full-width2{
    width: 40%;
    
    
}
.full-width3{
    width: 40%;
    margin-left: 2%;
    
}    